Screen {
    background: $background;
}

Header {
    margin-bottom: 1;
}

Panel {
  width: auto;
}

Panel Select {
    margin-left: 4;
    width: 11;
}

Panel SelectCurrent #label {
    padding-left: 2;
}

Panel SelectOverlay {
    text-align: center;
}

.row {
    height: 2;
    width: auto;
}

.num {
    margin: 0 3 1 3;
    text-style: bold;
    width: 4;
    text-align: center;
    color: $text-muted;
}

.code_peg {
    margin-right: 2;
    min-width: 7;
    border: none;
    text-style: none;
}

.code_peg:disabled {
    background: $background;
}

.check {
    margin-left: 4;
    border: none;
    text-style: none;
}

.feedback_pegs {
    width: 16;
    margin-left: 3;
    padding-left: 1;
}

NewGameScreen {
    align: center middle;
    margin-bottom: 1;
}

.margin-bottom-1 {
    margin-bottom: 1;
}

NewGameScreen RadioSet {
    margin-bottom: 3;
}
