Header {
    margin-bottom: 1;
}

Select {
    margin-left: 1;
    margin-right: 1;
    width: 13;
}

SelectCurrent #label {
    padding-left: 3;
}

SelectOverlay {
    text-align: center;
}

Board {
    width: 1fr;
    overflow-x: auto;
}

.row {
    height: 3;
    width: auto;
}

.num {
    margin: 1 4 1 2;
    text-style: bold;
    width: 6;
    text-align: center;
    background: cornflowerblue;
}

.code_peg {
    margin-left: 1;
    margin-right: 1;
    min-width: 7;
    # border: tall dimgrey;
    text-style: none;
    # padding-left: 2;
}

.code_peg:hover {
    background: $primary;
}

.code_peg:disabled {
    background: $background;
}

.check {
    width: 16;
    margin-top: 1;
    margin-left: 1;
    padding-left: 1;
}

.check:hover {
    text-style: italic;
}

.feedback_pegs {
    width: 16;
    margin-top: 1;
    margin-left: 1;
    padding-left: 1;
}

NewGameScreen {
    align: center middle;
    margin-bottom: 1;
}

NewGameScreen HeaderIcon:hover {
    background: transparent;
}

.margin-bottom-1 {
    margin-bottom: 1;
}

NewGameScreen RadioSet {
    margin-bottom: 3;
}

Screen {
    background: $background;
}
